<h1>Contacts</h1>
<p>Contacts of Nepal Students Unions followers & officials in Kanchanpur</p>
<p>कंचनपुर जिल्लाका नेपाल विद्यार्थी संघ तथा नेपाली कांग्रेसका साथीहरुको सम्पर्क नम्बरहरु</p>

<table class="table table-striped">
  
  <thead class="thead-inverse">
    <tr>
      <th>Full Name</th>
      <th>Address</th>
      <th>Mobile</th>
      <th>2nd Number</th>
      <th>Home Phone</th>
    </tr>
  </thead>

  <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.full_name %></td>
        <td><%= contact.address %></td>
        <td><%= contact.mobile %></td>
        <td><%= contact.mobile2 %></td>
        <td><%= contact.home_phone %></td>
      </tr>
  <% end %>
  
</table>