<div class="container-fluid">
	
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%=link_to root_path, class:"navbar-brand",style:"text-decoration:none" do %><%= image_tag '/assets/nsu_logo.png', class:"logo", height:"40" %><span class="text-muted">NSU Kanchanpur</span><% end %>
 
   <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                
    </ul>
  </div>
</nav>

<div class="pt-4 d-none d-sm-block" style="background-color:#99c691">
       <div class="row">
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551976/NSU/nepalflag_trblqh.gif" class="img-fluid align-middle" />
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551414/NSU/ndchataut_zr5jqf.jpg" class="img-fluid rounded-circle mx-auto" style="width: 200px; height: 200px" />
                        <br>
                        <span class="text-white">ND Chataut</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-center">
                        <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551423/NSU/bpkoirala_jkip3l.png" class="img-fluid mx-auto mt-5" />
                        <span class="text-white">BP Koirala</span>
                    </div>
                    <div class="col-md-2 text-center">
                        <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551417/NSU/suvarnasamsher_wg5zem.png" class="img-fluid mx-auto mt-5" />
                        <span class="text-white">Subarna Samsher Rana</span>
                    </div>
                    <div class="col-md-2 text-center">
                        <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551419/NSU/ganeshmansignh_swinso.png" class="img-fluid mx-auto mt-5" />
                        <span class="text-white">Ganesh Man Singh</span>
                    </div>
                    <div class="col-md-2 text-center">
                         <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551417/NSU/krishnaprasadbhattrai_bud23p.png" class="img-fluid mx-auto mt-5" />
                         <span class="text-white">Krishna Prasad Bhattarai</span>
                    </div>
                    <div class="col-md-2 text-center">
                         <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551417/NSU/girizaprasad_qo3ddg.png" class="img-fluid mx-auto mt-5" />
                        <span class="text-white">Girija Prasad Koirala</span>
                    </div>
                    <div class="col-md-2 text-center">
                         <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551420/NSU/sushilkoirala_vyjotw.png" class="img-fluid mx-auto mt-5" />
                        <span class="text-white">Sushil Koirala</span>
                    </div>
                </div>
                
            </div>
            
            <div class="col-md-2">
                <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613552100/NSU/congressflag_id9q11.png" class="img-fluid mt-2 float-left" />
            </div>
       </div> 
</div>

<div class="pt-4 d-block d-sm-none" style="background-color:#99c691">
            <div align="center">
                <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551976/NSU/nepalflag_trblqh.gif" class="img-fluid align-middle" />
            </div>
                    <div class="text-center mt-2">
                        <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551414/NSU/ndchataut_zr5jqf.jpg" class="img-fluid rounded-circle mx-auto" style="width: 150px; height: 150px" />
                        <br>
                        <span class="text-white">ND Chataut</span>
                    </div>

            <div class="row px-2">
                    <div class="col-6 text-center">
                        <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551423/NSU/bpkoirala_jkip3l.png" class="img-fluid mx-auto mt-5" />
                        <span class="text-white">BP Koirala</span>
                    </div>
                    <div class="col-6 text-center">
                        <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551417/NSU/suvarnasamsher_wg5zem.png" class="img-fluid mx-auto mt-5" />
                        <span class="text-white">Subarna Samsher Rana</span>
                    </div>
                    <div class="col-6 text-center">
                        <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551419/NSU/ganeshmansignh_swinso.png" class="img-fluid mx-auto mt-5" />
                        <span class="text-white">Ganesh Man Singh</span>
                    </div>
                    <div class="col-6 text-center">
                         <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551417/NSU/krishnaprasadbhattrai_bud23p.png" class="img-fluid mx-auto mt-5" />
                         <span class="text-white">Krishna Prasad Bhattarai</span>
                    </div>
                    <div class="col-6 text-center">
                         <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551417/NSU/girizaprasad_qo3ddg.png" class="img-fluid mx-auto mt-5" />
                        <span class="text-white">Girija Prasad Koirala</span>
                    </div>
                    <div class="col-6 text-center">
                         <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613551420/NSU/sushilkoirala_vyjotw.png" class="img-fluid mx-auto mt-5" />
                        <span class="text-white">Sushil Koirala</span>
                    </div>
                </div>
               
            
            <div align="center">
                <img src="https://res.cloudinary.com/di7sekeem/image/upload/v1613552100/NSU/congressflag_id9q11.png" class="img-fluid mt-5" />
            </div>
       </div>
</div>

<div class="pt-2">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true" style="text-decoration:none">Contacts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="Notices-tab" data-toggle="tab" href="#Notices" role="tab" aria-controls="Notices" aria-selected="false" style="text-decoration:none">Notices</a>
                </li>
              </ul>
</div>
<div class="tab-content emp-profile" id="myTabContent">
      <div class="tab-pane fade show active" id="contact" role="tabpanel" aria-labelledby="contact-tab">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Mobile Number</th>
                <th scope="col">Alt. Number</th>
                <th scope="col">Home Number</th>
              </tr>
            </thead>
            <tbody>
            <% @contacts.each do |contact| %>
              <tr>
                <th scope="row"><%= contact.full_name %></th>
                <td><%= contact.address %></td>
                <td><%= contact.mobile %></td>
                <td><%= contact.mobile2 %></td>
                <td><%= contact.home_phone %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
      </div>
      <div class="tab-pane fade show" id="Notices" role="tabpanel" aria-labelledby="Notices-tab">
                  hi
      </div>
</div>
  <!--------------------------------------end of contact tab-------------------------------------------------->


</div>
